.boxBtn {
    margin: 10px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.boxBtn:hover {
    background-color: #26bc9c; /* Green */
}
