.container_top_Nav{
    height: 80px;
    background: rgb(34,175,181);
    background: linear-gradient(117deg, rgba(34,175,181,1) 0%, rgba(34,175,181,0.4822303921568627) 35%, rgba(34,175,181,1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.box {
 display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    align-items: start;
}
